<!DOCTYPE html>
<html>

<head>
<title>Smart Refrigerator</title>
<link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    background-image: url("img/bg.png");
}

.content {
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 10px;
}
</style>
</head>


<body>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1 style="text-align: center;"> SMART REFRIGERATOR</h1>



<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: center;"><input type="button" onclick="document.location.href='/registration';" value="Register a new account"><br>
<br>
<p style="text-align: center;"><input type="button" onclick="document.location.href='/join';" value="Join your device with your account"><br>
<br/>
<p style="text-align: center;"><input type="button" onclick="document.location.href='/settings';" value="Manage sensors settings"><br>
<br/>
<p style="text-align: center;"><input type="button" onclick="document.location.href='/thingspeak';" value="Set ThingSpeak keys"><br>
<br/>

</body>
</html>
